<!-- ****** ABOUT ****** -->
<section id="about" class="about section">
  <div class="container">
    <!--
    <div class="profile img-responsive">
      <img class="img-responsive" src="public/images/square.jpg" />
    </div> ** profile **-->
    <h2 class="main-title text-center">How I can help...</h2>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <p class="intro text-center">
            <em>For your convenience, I'm offering my best consulting services as low-risk, fixed-price packages. If you didn't find a package to meet your needs, drop me a line at <a href="mailto:josiah@kickinbahkproductions.com">josiah@kickinbahkproductions.com</a> to discuss a custom engagement.</em>
        </p>
      </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 package">
          <h4 class="title">60-Minute Strategy Call</h4>
          <div class="item">
              <p class="content">Want to make sure you’re heading in the right direction before you start testing? Need a quick teardown of your store's pain points? Can’t figure out where to start? I’m here to help with this laser-focused strategy call.</p>
          </div><!-- ** item ** -->
          <p class="pricing">This 60-minute call currently costs $299. <a href="mailto:josiah@kickinbahkproductions.com">Email me for package breakdown</a></p>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 package">
          <h4 class="title">Custom UI Audit</h4>
          <div class="item">
              <p class="content">In this UI audit, I’ll take a fresh professional look at your web app, determine critical design flaws, and put together an actionable plan for improving your UI/UX. You’ll get a fancy (and incredibly useful) PDF report with a detailed screen-by-screen teardown of your web app.</p>
          </div><!-- ** item ** -->
          <p class="pricing">Audit packages start at $999. <a href="mailto:josiah@kickinbahkproductions.com">Email me for specific details</a></p>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 package">
          <h4 class="title">Monthly Creative Direction for Teams</h4>
          <div class="item">
              <p class="content">Does your software company need ongoing UI/UX guidance, decision-making support, and team coaching? Are you investing much, but still struggling to achieve a good level of design? This monthly service allows you to receive top-notch guidance without hiring a creative director in-house.</p>
          </div><!-- ** item ** -->
          <p class="pricing">Packages start at $8,000/month (depending on the team size). <a href="mailto:josiah@kickinbahkproductions.com">Email me for details</a></p>
        </div>

    </div><!-- ** row ** -->
  </div><!-- ** container ** -->
</section><!-- ** about ** -->
