<!-- ****** ABOUT ****** -->
<section id="about" class="about section">
  <div class="container">
    <div class="profile img-responsive">
      <img class="img-responsive" src="public/images/square.jpg" />
    </div><!-- ** profile ** -->
    <h2 class="main-title text-center">A bit about me...</h2>
    <p class="intro text-center">
      I am Josiah Mory. I am the founder, developer, marketer, accountant, barista...well you get the picture.
      <br />
      <br />
      kickinbahk productions is a company of one.
      <br />
      <br />
      When you work with me, you are working with the person doing the work for you. I take a personal interest in making your business successful and that the software I build for you is meeting your business's needs.
    </p>
    <h2 class="title text-center">What I can help you with...</h2>
    <div class="row">
      <div class="item col-md-4 col-sm-6 col-xs-12 col-md-offset-2 col-sm-offset-3">
        <div class="icon-holder-first">
            <i class="fa fa-desktop"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">Web Software</h3>
          <p>Custom web apps for your business, with more functionality and customization than Wordpress offers.</p>
        </div><!-- ** content ** -->
      </div><!-- ** item ** -->
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder-second">
          <i class="fa fa-mobile-phone"></i>
        </div>
          <div class="content">
            <h3 class="sub-title">BuildFire Custom Plugins</h3>
            <p>Additional functionality for your BuildFire app, like a login system, third-party API integration, or other needs.</p>
          </div><!-- ** content ** -->
      </div><!-- ** item ** -->
      <!-- ** row ** -->

      <div class="clearfix visible-md"></div>
      <div class="item col-md-4 col-sm-6 col-xs-12">
          <div class="icon-holder">
              <i class="fa fa-tablet"></i>
          </div>
          <div class="content">
              <h3 class="sub-title">Mobile-friendly</h3>
              <p>Mobile is a large percentage of internet traffic. I make sure the  software we build looks beautiful on both mobile devices or a desktop/laptop screen.</p>
          </div><!-- ** content ** -->
      </div><!-- ** item ** -->
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-code"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">Software for Your Needs</h3>
          <p>We will work together to find a solution to your needs. I will do my best to understand the problem you are facing and how to best solve it.</p>
        </div><!-- ** content ** -->
      </div><!-- ** item ** -->
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-comments"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">SEO Best Practices</h3>
          <p>Search page rank is important for any customer-facing business. I will make sure SEO best practices are utilized in all necessary software.</p>
        </div><!-- ** content ** -->
      </div><!-- ** item ** -->
    </div><!-- ** row ** -->
    <div class="clearfix visible-md"></div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3 col-xs-offset-1">
      <div class="btns">
        <a class="btn btn-lrg btn-cta-secondary" href="#contact">Ready to Connect?</a>
      </div>
    </div><!-- ** button ** -->
  </div><!-- ** container ** -->
</section><!-- ** about ** -->
