<!-- ****** DOCS ****** -->
<section id="buildfire-plugins" class="buildfire-plugins section">
  <div class="container">
    <div class="buildfire-plugins-inner">
      <h2 class="title text-center">BuildFire Plugins</h2>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6 col-md-offset-4 col-sm-offset-3 col-xs-offset-3">
          <div class="plugin">
            <iframe class="ifm" src="http://app.buildfire.com/app/index.html?appId=c45bb414-1797-11e6-a50f-124798dea82d&mode=0">
            </iframe>
          </div><!-- ** plugin ** -->
        </div>
        <div class="clearfix"></div>
        <div class="btns text-center">
          <a class="btn btn-lrg btn-cta-secondary" href="http://app.buildfire.com/app/index.html?appId=c45bb414-1797-11e6-a50f-124798dea82d&mode=0" target="_blank">App Demo</a>
        </div><!-- ** btns ** -->
      </div><!-- ** row ** -->
    </div><!-- ** docs-inner ** -->
  </div><!-- ** container **-->
</section><!-- ** docs ** ->
