<!-- ******DOCS****** -->
<section id="buildfire-plugins" class="buildfire-plugins section">
  <div class="container">
    <div class="buildfire-plugins-inner">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-1">
          <div class="plugin">
            <h2 class="title text-center">BuildFire Plugins</h2>
            <iframe class="ifm" src="http://app.buildfire.com/app/index.html?appId=c45bb414-1797-11e6-a50f-124798dea82d&mode=0">
            </iframe>
            <a class="btn btn-lrg btn-cta-secondary" href="http://app.buildfire.com/app/index.html?appId=c45bb414-1797-11e6-a50f-124798dea82d&mode=0" target="_blank">App Demo</a>
          </div><!-- ** plugin -->
        </div>
      </div><!-- ** row ** -->
    </div><!--//docs-inner-->
  </div><!--//container-->
</section><!--//docs->
