<!-- ******DOCS****** -->
<section id="buildfire-plugins" class="buildfire-plugins section">
  <div class="container">
    <div class="buildfire-plugins-inner">
      <h2 class="title text-center">BuildFire Plugins</h2>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-4 plugin">
          <iframe class="ifm" src="http://app.buildfire.com/app/index.html?appId=c45bb414-1797-11e6-a50f-124798dea82d&mode=0">
          </iframe>
        </div>
      </div><!-- ** row ** -->
    </div><!--//docs-inner-->
  </div><!--//container-->
</section><!--//docs->
