<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
  <div class="container">
    <div class="contact-inner">
      <h2 class="title text-center">Interested in Talking Further?</h2>
      <p class="intro text-center"></p>

      <div class="clearfix"></div>
      
      <div class="info text-center">
        <!-- Form from Typeform -->
        <a class="typeform-share btn btn-lrg btn-cta-secondary" href="https://kickinbahkprod.typeform.com/to/s3JCtI" data-mode="1" target="_blank">Get in touch!</a>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
        </script>
        <!-- End TypeForm -->
        <h4 class="sub-title">Other Ways to Connect</h4>
        <ul class="social-icons list-inline">
          <li><a href="https://twitter.com/kickinbahk" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/josiahmory"><i class="fa fa-linkedin"></i></a></li>
          <li class="last"><a href="mailto: josiah+site@kickinbahkproductions.com"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div><!-- ** info ** -->
    </div><!-- ** contact-inner ** -->
  </div><!-- ** container ** -->
</section><!-- ** contact ** -->
