<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
  <div class="container">
    <div class="contact-inner">
      <h2 class="title text-center">Want to know a bit more about working with me?</h2>

      <div class="clearfix"></div>
      
      <div class="info text-center">
        <script async id="_ck_370674" src="https://forms.convertkit.com/370674?v=7"></script>
        <h4 class="sub-title">Other Ways to Connect</h4>
        <ul class="social-icons list-inline">
          <li><a href="https://twitter.com/kickinbahk" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/josiahmory"><i class="fa fa-linkedin"></i></a></li>
          <li class="last"><a href="mailto: josiah+site@kickinbahkproductions.com"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div><!-- ** info ** -->
    </div><!-- ** contact-inner ** -->
  </div><!-- ** container ** -->
</section><!-- ** contact ** -->
