<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
  <div class="container">
    <div class="contact-inner">
      <h2 class="title text-center">Interested in Talking Further?</h2>
      <p class="intro text-center"></p>

      <div class="clearfix"></div>
      
      <div class="info text-center">
        <form action="https://www.getdrip.com/forms/44621287/submissions" method="post" data-drip-embedded-form="44621287">
          <div data-drip-attribute="description"></div>
            <div>
                <input class="email" type="email" id="drip-email" name="fields[email]" value="" />
            </div>
          <div>
            <input class="btns btn" type="submit" value="Sign Up" data-drip-attribute="sign-up-button" />
          </div>
        </form>
        <h4 class="sub-title">Other Ways to Connect</h4>
        <ul class="social-icons list-inline">
          <li><a href="https://twitter.com/kickinbahk" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/josiahmory"><i class="fa fa-linkedin"></i></a></li>
          <li class="last"><a href="mailto: josiah+site@kickinbahkproductions.com"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div><!-- ** info ** -->
    </div><!-- ** contact-inner ** -->
  </div><!-- ** container ** -->
</section><!-- ** contact ** -->
