<title>
  kickinbahk Productions | Developer of Advanced Websites and BuildFire App Custom Plugins
</title>
<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="developer of advanced websites and buildfire app custom plugins">
<meta name="author" content="Josiah Mory kickinbahk Productions">
<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="./public/images/favicons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="./public/images/favicons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="./public/images/favicons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="./public/images/favicons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="./public/images/favicons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="./public/images/favicons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="./public/images/favicons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="./public/images/favicons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="./public/images/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="./public/images/favicons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="./public/images/favicons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="./public/images/favicons/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
<!-- End favicons -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- Global CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}public/plugins/bootstrap/css/bootstrap.min.css">
<!-- Plugins CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}public/plugins/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="{{ site.baseurl }}public/plugins/prism/prism.css">
<!-- Theme CSS -->
<link id="theme-style" rel="stylesheet" href="{{ site.baseurl }}public/css/styles.css">
<!-- Sumo Me -->
<script src="//load.sumome.com/" data-sumo-site-id="6263ff059c76e1fc99c500371bb1860a765c9a390b269cfd4ee40ac4410902f3" async="async"></script>
<!-- End SumoMe-->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
