<section id='offer' class='offer section'>
  <div class='container'>

    <h2 class="title text-center">What I can help you with...</h2>
    <div class="row">
      <div class="item col-md-4 col-sm-6 col-xs-12 col-md-offset-2 col-sm-offset-3">
        <div class="icon-holder-first">
            <i class="fa fa-desktop"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">Web Software</h3>
          <p>Custom web apps for your business, with more functionality and customization than Wordpress offers.</p>
        </div><!-- ** content ** -->
      </div><!-- ** item ** -->
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder-second">
          <i class="fa fa-mobile-phone"></i>
        </div>
          <div class="content">
            <h3 class="sub-title">Custom Integrations</h3>
            <p>Connect your website with other services your business is already using through their APIs.</p>
          </div><!-- ** content ** -->
      </div><!-- ** item ** -->
      <!-- ** row ** -->

      <div class="clearfix visible-md"></div>
      <div class="item col-md-4 col-sm-6 col-xs-12">
          <div class="icon-holder">
              <i class="fa fa-tablet"></i>
          </div>
          <div class="content">
              <h3 class="sub-title">Mobile-friendly</h3>
              <p>Mobile is a large percentage of internet traffic. I make sure your website looks beautiful on mobile devices and computer screens.</p>
          </div><!-- ** content ** -->
      </div><!-- ** item ** -->
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-code"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">Software for Your Needs</h3>
          <p>We will work together to find a solution to your needs. I will do my best to understand the problem you are facing and how to best solve it.</p>
        </div><!-- ** content ** -->
      </div><!-- ** item ** -->
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-comments"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">SEO Best Practices</h3>
          <p>Search page rank is important for any customer-facing business. I will make sure SEO best practices are utilized in all necessary software.</p>
        </div><!-- ** content ** -->
      </div><!-- ** item ** -->
    </div><!-- ** row ** -->
    <div class="clearfix visible-md"></div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3 col-xs-offset-1">
      <div class="btns">
        <a class="btn btn-lrg btn-cta-secondary" href="#contact">Ready to Connect?</a>
      </div>
    </div><!-- ** button ** -->
  </div>
</section>
