<section id='offer' class='offer section'>
  <div class='container'>
    <div class="row">
      <div class="item text-center">
          <h2 class="title text-center">CRO tactics aren't magic bullets</h2>        
          <p class="content text-center">Most the popular CRO sites use tactics from Amazon and other large ecommerce companies. They make it sound like a few little changes will reap huge rewards. But, your store has different needs than large ecommerce companies and will gather more info if you are talking with your customers too.</p>
          

      </div><!-- ** item ** -->
    </div><!-- ** row ** -->
    <h2 class="title text-center">The Numbers Don't Answer "Why?"</h2>
    <div class="row">
      <div class="item">
        <p class="content text-center">Interpeting the numbers often end up being a guess based on what your analytics are telling you, instead of actionable information. Amazon can make a change, get actionable data within hours and know very quickly if it is making a difference or not. It is often a struggle to get enough visitors to landing pages to have enough significance, much less a specific product page, cart, or checkout page.</p>
      </div><!-- ** item ** -->
    </div><!-- ** row ** -->

    <div class="clearfix visible-md"></div>
    <!-- <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3 col-xs-offset-1">
      <div class="btns">
        <a class="btn btn-lrg btn-cta-secondary" href="#contact">Ready to Connect?</a>
      </div>
    </div>** button ** -->
  </div>
</section>
