<section id='offer' class='offer section'>
  <div class='container'>
    <div class="row">
      <div class="item text-center">
          <p class="content text-center">You are running ads and <em>know</em> people looking at your products, but they don't buy?</p>
      </div><!-- ** item ** -->
    </div><!-- ** row ** -->
    <h2 class="title text-center">You have two options:</h2>
    <div class="row">
      <div class="item">
        <ul>
          <li class="content col-xs-offset-3">1) Run more ads or...</li> 
          <li class="content col-xs-offset-3"><strong>2) Find a way to convert those vistors to buyers</strong></li>
        </ul>
      </div><!-- ** item ** -->
    </div><!-- ** row ** -->

    <div class="clearfix visible-md"></div>
    <!-- <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3 col-xs-offset-1">
      <div class="btns">
        <a class="btn btn-lrg btn-cta-secondary" href="#contact">Ready to Connect?</a>
      </div>
    </div>** button ** -->
  </div>
</section>
