<!-- ****** Portfolio ****** -->
<section id="portfolio" class="portfolio section">
  <div class="container">
    <div class="portfolio-inner">
    <h2 class="title text-center">Portfolio</h2>
      <div class="row">
        <div class="item col-md-4 col-sm-6 col-xs-6 col-md-offset-1 col-sm-offset-3 col-xs-offset-3">
          <div class="portfolio-content">
            <a href="http://mostlynode.com"><img src="public/images/mocksolo-screens.png" class="img-responsive" /></a>
            <h3 class="sub-title text-center">MockSolo</h3>
            <p class="text-center">An app designed to practice drafting a fantasy baseball team. The entire UI was created in code instead of Storyboards. Gets player data from a json file, then uses an algorithm to calculate the next pick based off position in the draft using a snake draft format (1-10, 10-1).</p>
          </div><!-- ** content ** -->
        </div><!-- ** item ** -->
        <div class="item col-md-4 col-sm-6 col-xs-6 col-md-offset-2 col-sm-offset-3 col-xs-offset-3">
          <div class="portfolio-content">
            <img src="public/images/opt-outside.png" class="img-responsive" />
            <h3 class="sub-title text-center">#OptOutside</h3>
            <p class="text-center">
              Created to demo SalesForce machine learning platform, <a href="https://www.salesforce.com/products/einstein/overview/">Einstien</a>. The app uses natural language processing to take user input of outdoor interests and how far they are willing to travel. Using this information, the app provides local meetups that meet those parameters.
            </p>
          </div><!-- ** content ** -->
        </div><!-- ** item ** -->
      </div><!-- ** row ** -->
    </div><!-- ** portfolio-inner **-->
  </div><!-- ** container **-->
</section><!-- ** portfolio ** -->
