<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
  <div class="container text-center">
    <h2 class='title'>kickin<span class="highlight">bahk</span></h2>
    <h2 class='title'>&emsp;&emsp;&emsp;Productions</h2>

    <p class="intro">I create custom web software and BuildFire Plugins for small businesses</p>
    <div class="meta list-inline"></div><!-- ** meta ** -->
  </div><!-- ** container ** -->
  <!-- <div class="call-to-action">
    <div class="container text-center">
      <ul class="list-inline">
        <li><a href="#web-software" target="_blank">Web Software</a></li>
        <li><a href="#buildfire-plugins">BuildFire Plugins</a></li>
      </ul>
    </div>
  </div> -->
</section><!-- ** promo ** -->
