<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
  <div class="container">
    <h2 class='title'>kickin<span class="highlight">bahk</span></h2>
    <h2 class='title title-bottom'>Productions</h2>

    <p class="intro text-center">I help Ecommerce stores augment CRO with richer, more informative customer research, to boost sales beyond what CRO alone can do.</p>
    <div class="meta list-inline"></div><!-- ** meta ** -->
  </div><!-- ** container ** -->
</section><!-- ** promo ** -->
