<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
  <div class="container text-center">
    <h2 class="title">kickin<span class="highlight">bahk</span> Productions</h2>
    <div class="profile">
      <img class="img-responsive" src="public/images/square.jpg" />
    </div><!--//profile-->

    <p class="intro">I create custom web software and BuildFire Plugins for small businesses</p>
    <div class="btns">
      <a class="btn btn-cta-primary" href="#">Get Started</a>
    </div>
    <div class="meta list-inline"></div><!--//meta-->
  </div><!--//container-->
  <div class="call-to-action">
    <div class="container text-center">
      <ul class="list-inline">
        <li><a href="#" target="_blank">Web Software</a></li>
        <li><a href="#buildfire-plugins">BuildFire Plugins</a></li>
      </ul>
    </div>
  </div>
</section><!--//promo-->
