<!-- ****** Values ****** -->

<section id="values" class="values section">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <h2 class="title text-center">Ask yourself, when was the last time you...</h2>
    </div>

    <div class="col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <ul class="values-list list-unstyled">
        <li><i class="fa fa-circle"></i> <span class="value-text"><em>Attempted</em> to go through the checkout process yourself.<span></li>
        <li><i class="fa fa-circle"></i> <span class="value-text"><em>Understood</em> why your customers didn't buy</span></li>
        <li><i class="fa fa-circle"></i> <span class="value-text"><em>Researched</em> how your users interacted with your store</span></li>
      </ul>
    </div>
  </div><!--//container-->
</section><!--//values-->
