<!-- ****** Values ****** -->

<section id="values" class="values section">
  <div class="container">
    <div class="col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-4">
      <h2 class="title">What I Value...</h2>
      <ul class="values-list list-unstyled">
        <li><i class="fa fa-check"></i> <span class="value-text"> Good Communication<span></li>
        <li><i class="fa fa-check"></i> <span class="value-text"> Finding the <i>RIGHT</i> Option for your Business</span></li>
        <li><i class="fa fa-check"></i> <span class="value-text">Transparency</span></li>
        <li><i class="fa fa-check"></i> <span class="value-text"> Client Success</span></li>
        <li><i class="fa fa-check"></i> <span class="value-text"> Aim for Happy Customers</span></li>
        <li><i class="fa fa-check"></i> <span class="value-text"> Modern and Popular Technologies</span></li>
        <li><i class="fa fa-check"></i> <span class="value-text"> No Outsourcing</span></li>
      </ul>
    </div>
  </div><!--//container-->
</section><!--//values-->
