<!-- ****** Web-Software ****** -->
<section id="web-software" class="web-software section">
  <div class="container">
    <div class="web-software-inner">
    <h2 class="title text-center">Web Software</h2>
      <div class="row">
        <div class="item col-md-4 col-sm-6 col-xs-6 col-md-offset-1 col-sm-offset-3 col-xs-offset-3">
          <div class="web-software-content">
            <a href="http://mostlynode.com"><img src="public/images/mostly-node.png" class="img-responsive" /></a>
            <h3 class="sub-title text-center">Mostly Node</h3>
            <p class="text-center">Aggregation of episodes and in-depth tagging.</p>
          </div><!-- ** content ** -->
        </div><!-- ** item ** -->
        <div class="item col-md-4 col-sm-6 col-xs-6 col-md-offset-2 col-sm-offset-3 col-xs-offset-3">
          <div class="web-software-content">
            <a href="http://www.theinfluentiallife.com/"><img src="public/images/theinfluentiallife.png" class="img-responsive" /></a>
            <h3 class="sub-title text-center">The Influential Life</h3>
            <p class="text-center">Calls to action, information of services, and payment integration.</p>
          </div><!-- ** content ** -->
        </div><!-- ** item ** -->
      </div><!-- ** row ** -->
    </div><!-- ** web-software-inner **-->
  </div><!-- ** container **-->
</section><!-- ** web-software ** -->
