<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  {% include head.html %}
  {% include google_analytics.html %}
</head>
<body data-spy="scroll">
  <div class="site-wrapper">
    {% include header.html %}
    {% include promo.html %}
    {% include offer.html %}
    {% include values.html %}
    {% include about.html %}

    {% include contact.html %}
    {% include footer.html %}
  </div>
</body>
</html>
