<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}">
    <link rel="favicon" href="{{ site.baseurl }}/static/img/favicon.png">

    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
	
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
    crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Custom styles for this template -->
  <link id="theme-style" rel="stylesheet" href="{{ site.baseurl }}/public/css/styles.css" />    
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200bold,400old" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />


    <!-- Google Analytics -->
  </head>
  <!-- Main Body-->
  <body>
  <!-- Wrap all page content here -->
<!-- ******HEADER****** -->
<header id="header" class="header">
    <div class="container">
      <h1 class="logo pull-left">
        <a class="scrollto" href="{{ site.baseurl }}">
          <span class="logo-title">
            <img class="logo-nav" src="/public/images/Final-Logo-logo-only-trim.png" alt="kP"/>
          </span>
        </a>
      </h1><!-- ** header ** -->
      <nav id="main-nav" class="main-nav navbar-right" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button><!-- ** nav-toggle ** -->
        </div><!-- ** navbar-header ** -->
        <div class="navbar-collapse collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active nav-item sr-only">
              <a class="scrollto" href="#promo">Home</a>
            </li>
            <li class='nav-item'>
              <a class='scrollto' href='#offer'>The Problem</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="scrollto" href="#values">Values</a>
            </li>
            <li class="nav-item">
              <a class="scrollto" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item last">
              <a class="scrollto" href="#contact">Contact</a>
            </li>
            -->
            <li class="nav-item">
              <a class="scrollto" href="#about">Offers</a>
            </li>
  
          </ul><!-- ** nav ** -->
        </div><!-- ** navabr-collapse ** -->
      </nav><!-- ** main-nav ** -->
    </div>
  </header><!-- ** header ** -->
  <div id="wrap">
    <!-- Navbar header -->

    {{ content }}

  </div>
  <!-- Footer -->
  {% include footer.html %}

    <script type="text/javascript" src="{{ site.url }}/public/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/public/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/public/plugins/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ site.url }}/public/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/public/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/public/plugins/prism/prism.js"></script>
    <script type="text/javascript" src="{{ site.url }}/public/js/main.js"></script>  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  
    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
    integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
    crossorigin="anonymous"></script>


  </body>
</html>